@font-face {
  font-family: 'UbuntuBold';
  src: url('../fonts/UbuntuBold/UbuntuBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UbuntuBold/UbuntuBold.woff') format('woff'),
  url('../fonts/UbuntuBold/UbuntuBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuLight';
  src: url('../fonts/UbuntuLight/UbuntuLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UbuntuLight/UbuntuLight.woff') format('woff'),
  url('../fonts/UbuntuLight/UbuntuLight.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuRegular';
  src: url('../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UbuntuRegular/UbuntuRegular.woff') format('woff'),
  url('../fonts/UbuntuRegular/UbuntuRegular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuMedium';
  src: url('../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UbuntuMedium/UbuntuMedium.woff') format('woff'),
  url('../fonts/UbuntuMedium/UbuntuMedium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'),
  url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: url('../fonts/Verdana/Verdana.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Verdana/Verdana.woff') format('woff'),
  url('../fonts/Verdana/Verdana.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
