@import "vars";


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px

@media  screen and (max-width: 1200px){
  .header-nav{
    width: 65%;
    &__link{
      font-size: 10px;
    }
  }
.header-right:after{
  left: -64px;
}
  .header-right:before{
    left: 32px;
    width: 36px;
    transform-origin: 19px 22px;
  }


}
@media  screen and (max-width: 992px){
  .header{
    height: 115px;
  }
  .header-nav{
    display: none;
  }
  .header-left{
    height: 115px;
    &:after{
      display: none;
    }
    &:before{
      height: 100%;
    }
    &__descr{
      font-size: 10px;
    }
  }
  .header-right:after {
    left: -84px;
    height: 115px;
  }
  .header-right:before {
    display: none;
  }
  .top-panel__delivery{
      margin-left: 60px;

  }
  .top-panel__info{
    width: 300px;
  }
  .nav-panel{
    height: 90px;
  }

}
@media  screen and (max-width: 762px) {
  .header {
    .container {
      min-width: 100%;
    }
  }
  .header-left {
    width: 235px;
  }
  .header-left__descr {
    font-size: 10px;
  }
  .logo__txt {
    font-size: 20px;
  }
  .top-panel__delivery {
    display: none;
  }
  .top-panel {
    justify-content:  flex-end;
  }
}
@media  screen and (max-width: 480px){

}


