$default-font: "GothamPro", sans-serif;
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;
$grey-color: #F1F3F5;
$accent-color: #3853D7;
$dark-color: #313443;
$text-dark-color: #000;
$l-color: #d5d5d5;
$link-color: #777777;
$text-color: #313443;
$tg-color: #949494;
$main-bg: #fff;
$list-text-color: #606060;
$title-dark-color: #3c3c3b;
$border-color: rgba(0,0,0,.1);
$main-wrapp-width: 1920px;
$wrapp-width: 1200px;

$m-color: #0d1b36;
$accent-bg: #0c1a34;
$action-color: #c94040;
$white: #fff;
$border-color: #ebebeb;
  // Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"

$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);
$gutter: $grid-gutter-width;

