@import "vars";
@import "fonts";
@import "libs";
button{
  outline: none;
}
.hide{
	display: none;
}
.show{
	display: flex;
}

::placeholder{
	font-family: "UbuntuLight",sans-serif;
	color: $tg-color;
	font-size: 14px;
}
.main-wrapper{
	display: flex;
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	transition: all .5s ease;

}
*{
	box-sizing: border-box;
}
//a{
//	text-decoration: none;
//	color: $link-color;
//	cursor: pointer;
//	transition: color .2s ease;
//	&:hover{
//		text-decoration: none;
//		color: #333;
//	}
//}
ul,h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
//p{
//	padding: 0;
//	margin: 0;
//	font-family: $default-font;
//	line-height: 32px;
//	font-size: 15px;
//	letter-spacing: 0.04em;
//	color: $text-color;
//	opacity: 0.87;
//}
//h1{
//	font-family: $default-font;
//	font-size: 20px;
//	letter-spacing: 0.04em;
//	color: $text-color;
//	opacity: 0.87;
//}
//h2{
//	font-family: $default-font;
//	font-size: 15px;
//	letter-spacing: 0.04em;
//	color: $text-color;
//	opacity: 0.87;
//}
//
//h3{
//	font-family: $default-font;
//	font-size: 13px;
//	letter-spacing: 0.03em;
//	color: $text-color;
//	opacity: 0.87;
//}
button.accent{
	font-family: $default-font;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	background:  rgba(56, 83, 215, 0.4);
	border: 1px solid #3853D7;
	&:hover{
		background: rgba(56, 83, 215, 0.87);
		border: 1px solid #3853D7;
	}
	&:active{
		background: rgba(56, 83, 215, 1);
		border: 1px solid #3853D7;
	}

}
button.dark{
	font-family: $default-font;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #313443;
	border: 1px solid #3853D7;
	&:hover{
		background: rgba(49, 52, 67, 0.87);

	}
	&:active{
		background: #1A1D2A;
	}
}
body{
	font-size: 14px;
	font-weight: normal;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	padding: 0;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	text-align: left;
	background: url('../img/t-bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	input, textarea{
		appearance: none;
		border: none;
		outline: none;
		&:focus:required:invalid{
		border-color: red;}
		&:required:valid{
		border-color: green;
	}
}
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.text-center{
	text-align: center;
}

.header{
	height: 100px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 1;
	&__inner{
		display: flex;
	}
}
.header-left{
	position: relative;
	display: block;
	background: $accent-bg;
	height: 100px;
	width: 220px;
	z-index: 1;
	&:after{
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		display: block;
		width: 100%;
		height: 20px;
		background: $accent-bg;

	}
	&:before{
		content: "";
		top: 0;
		position: absolute;
		right: 100%;
		display: block;
		width: 100vh;
		height: calc(100% + 20px);
		background: $accent-bg;
	}
	&__descr{
		font-size: 11px;
		line-height: 16px;
		color: $white;
		p{
			color: inherit;
			line-height: inherit;
			font-size: inherit;
			padding: 0;
			margin: 0;

	}
	}
}
.header-right{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: $tg-color;
	&:before{
		content: "";
		position: absolute;
		top: 80%;
		left: 0;
		transform: rotate(-35deg);
		transform-origin: 18px 18px;
		display: block;
		height: 30px;
		width: 32px;
		background: $white;
	}
	&:after{
		content: "";
		position: absolute;
		left: -95px;
		top: 0;
		width: 120px;
		height: calc(100% + 20px);
		transform: skew(-15deg, 0deg);
		background: $accent-bg;
		z-index: 0;
	}
}
.logo{
	display: flex;
	padding: 10px 0;
	img{
		display: block;
	}
	&__txt{
		font-family: "UbuntuBold",sans-serif;
		margin-left: 10px;
		text-transform: uppercase;
		color: $white;
		font-size: 25px;
		line-height: 30px;
	}
}
.top-panel{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 25px;
	font-family: "UbuntuLight",sans-serif;
	font-size: 11px;
	border-bottom: 1px solid $l-color;
	&:after{
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		display: block;
		height: 1px;
		width: 100vw;
		background-color: $l-color;
	}
	&__delivery{
		margin-left: 100px;

	}
	&__info{
		display: flex;
		width: 375px;
		justify-content: space-between;
	}

}
.nav-panel{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}
.header-nav{
	width: 75%;
	height: 75px;
	display: flex;
	align-items: center;
	margin-right: 10px;
	justify-content: space-between;
	&__item{
		text-align: center;
		color: #0d1b36;
		line-height: 12px;
	}
	&__link{
		text-align: center;
		font-family: "UbuntuLight",sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: inherit;
		text-transform: uppercase;
	}
	&__item--active{
		position: relative;
		color: $action-color;
		&:before{
			content: "";
			position: absolute;
			top: calc(100% + 27px);
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			display: block;
			height: 5px;
			width: 5px;
			background-color: $action-color;
		}
		&:after{
			content: "";
			position: absolute;
			top: calc(100% + 30px);
			left: -3px;
			display: block;
			height: 3px;
			width: calc(100% + 6px);
			background-color: $action-color;
		}
	}
}
.cart{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid $l-color;
	font-family: "UbuntuRegular",sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	min-width: 165px;
	max-width: 180px;
	height: 50px;
	padding-left: 50px;
	background: url('../img/cart.png') no-repeat;
	background-position: 10px center;
	&__label{
		font-family: "UbuntuLight",sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		line-height: 20px;
		color: $m-color;
	}
	&__data{
		display: flex;
		line-height: 12px;
	}
	.amount{
		font-family: "UbuntuRegular",sans-serif;
		display: flex;
		&:after{
			content: "шт.";
			display: block;
			padding-left: 2px;

		}
	}
	span{
		display: flex;
		padding: 0 2px;
	}
}

.content{
	width: 100%;
	padding-top: 150px;
	&__inner{
		display: flex;
	}
}
/*left-bar*/
.left-bar{
	max-width: 264px;
	width: 100%;
}

.cat-header{
	width: 100%;
	background-color: $accent-bg;
	padding: 5px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h2{
		color: $white;
	}
}
.catalog{
	width: 100%;
}
.cat-burger{
	width: 15px;
	&__item{
		display: block;
		width: 100%;
		height: 2px;
		margin: 2px 0;
		background-color: $white;
	}
}
.cat-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	&__item{
		width: 100%;
		height: 62px;
		display: flex;
		color: $white;
		background-color: $white;
		border-bottom: 1px solid #ededed;
	}
	&__link{
		width: 100%;
		display: flex;
		align-items: center;
		color: inherit;
	}
}
.cat-img{
	position: relative;
	height: 100%;
	width: 100px;
	display: flex;
	img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		max-width: 100%;
	}
}
.cat-name{
	font-family: "UbuntuRegular",sans-serif;
	font-size: 13px;
	color: $m-color;
	text-transform: uppercase;
}
.main-wrapper{
	width: 100%;
	max-width: 850px;
	display: flex;
	flex-direction: column;
}
.search-input{
	flex-grow: 10;
	padding: 0 15px;
}
.search-panel{
	height: 40px;
	width: 100%;
	border: 1px solid #ebebeb;
	background-color: $white;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.search-btn{
	width: 68px;
	height: 100%;
	background-size: 100%;
	display: block;
	background: url('../img/search-icon.png') no-repeat;
	background-color: $action-color;
	background-position: center center;
}
.all-cat-header{
	display: flex;
	padding: 0 15px;
	border-left: 1px solid $border-color;
	flex-grow: 4;
	align-items: center;
	justify-content: space-between;
	&__ttl{
		font-family: "UbuntuLight";
		font-size: 14px;
		color: $accent-bg;
	}
	&__arrow{
		width: 15px;
		height: 10px;
		background: url("../img/arrow-down.svg") no-repeat;
		background-position: center center;

	}
}
.all-cat{
	display: none;
}
.content{
	&__inner{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}
.banner-prod{
	width: 100%;
	height: 332px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../img/banner.png') no-repeat;
	background-size: cover;
	&__title{
		font-family: "UbuntuRegular";
		font-weight: bold;
		text-transform: uppercase;
		font-size: 35px;
		margin-bottom: 35px;
		color: $white;
		text-shadow: 2px 2px 4px rgba(0,0,0, .75%);
	}
}
.more{
	font-family: "UbuntuRegular";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	border-radius: 3px;
	background: $action-color;
	color: $white;
	width: 265px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover{
		text-decoration: none;
		color: $white;
	}
}

@import "media"; // Always at the end
